service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {

      allow read: if true;

      allow create: if request.auth.uid == userId;

        match /studiedDecks/{deckId} {
          allow read: if true;
          allow create, update, delete: if request.auth.uid == userId;
        }

        match /studiedLists/{cardId} {
          allow read: if true;
          allow create, update: if request.auth.uid == userId
                                && request.resource.data.answer.size() <= 4000;
          allow delete: if request.auth.uid == userId;
        }

    }

    match /decks/{deckId} {
      allow read: if true;

      allow create: if request.auth.uid == request.resource.data.creatorId
                    && request.resource.data.name.size() <= 150;
      allow update: if request.auth.uid == resource.data.creatorId
                    && request.resource.data.name.size() <= 150;

      match /cards/{cardId} {
        allow read: if true;
        allow create, update: if request.auth.uid == get(/databases/$(database)/documents/decks/$(deckId)).data.creatorId
                              && request.resource.data.front.size() <= 1000
                              && request.resource.data.back.size() <= 1000;

        allow delete: if request.auth.uid == get(/databases/$(database)/documents/decks/$(deckId)).data.creatorId;
      }

    }

    match /lists/{listId} {
      allow read: if true;

      allow create: if request.auth.uid == request.resource.data.creatorId
                    && request.resource.data.name.size() <= 150;
      allow update: if request.auth.uid == resource.data.creatorId
                    && request.resource.data.name.size() <= 150;

      match /concepts/{conceptId} {
        allow read: if true;
        allow create, update: if request.auth.uid == get(/databases/$(database)/documents/decks/$(deckId)).data.creatorId
                              && request.resource.data.question.size() <= 200
                              && request.resource.data.answer.size() <= 4000;

        allow delete: if request.auth.uid == get(/databases/$(database)/documents/lists/$(listId)).data.creatorId;
      }

    }
  }
}

