service firebase.storage {
  match /b/{bucket}/o {
    match /profilePics/{imageId} {
      allow read;
      allow write: if request.auth.uid == imageId
                    && request.resource.contentType.matches('image/.*')
                    && request.resource.size < 5 * 1024 * 1024;
    }
  }
}
