.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  background-image: url(../resources/triangle.png);
  background-position: center;
  background-size: cover;
}

#dashboard-welcome {
  text-align: center; 
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}

.create-a-deck {
  display: flex;
  justify-content: center;
}

.your-stuff {
  font-family: Print Clearly;
  font-size: 60px;
  color: #003466;
  padding-left: 20px;
  padding-bottom: 5px;
  margin: 0;
  border-color: #003466;
  border-style: double none double none;
  border-width: 5px;
  background-color: #FFFFFF;
}

.stuff-title {
  font-size: 50px;
  color: #003466;
  font-family: Print Clearly;
  padding-top: 10px;
  margin: 0;
  background: #E9F2FF;
  padding-bottom: 0;
}

.stuff-title:hover {
  color: #A8B4C2;
}

.deck-row {
  background-color: #E9F2FF;
  padding: 10px 30px 10px 15px;
  margin: 0px;
}

.modify-stuff {
  font-family: Nunito Bold;
  font-size: 18px;
  color: #A8B4C2;
  background-color: #E9F2FF;
  padding: 0;
}

button.modify-stuff:hover {
  color: #003466;
}

.stuff-menu {
  display: flex;
}

.change-title {
  border: none;
  text-decoration: none;
  padding-left: 6px;
}

.needs-padding {
  padding-left: 12px;
}

.buffer {
  padding-left: 5px;
}

.inline-display {
  flex: 1;
  display: flex;
}

.dashboard-menu {
  width: 25%;
  background-color: #C0CEDE;
  border-style: double double none none;
  border-color: #003466;
  border-width: 5px;
}

.active-view {
  width: 75%;
  background-color: #E9F2FF;
}

#no-margin {
  margin: 0;
}

.dash-nav {
  background-color: #C0CEDE;
  font-family: Nunito Bold;
  font-size: 20px;
  color: #003466;
  text-align: left;
  padding: 10px 0px 0px 25px;
}

.dash-nav:hover {
  color: #FFFFFF;
}

.navigation {
  display: flex;
  flex-direction: column;

  height: 100%;
}

#profile-settings-link {
  margin-top: auto;
  margin-bottom: 15px;
}

.student-classroom-button{
  background-color: #E9F2FF;
  margin: 0 auto;
  color: #003466;
  justify-content: center;
  font-size: 30px;
}

.student-classroom-button:hover{
  background-color: #E9F2FF;
  color: #C0CEDE;
  margin: 0 auto;
  justify-content: center;
  font-size: 30px;
}


.classroom-headers {
    font-family: Nunito Bold;
    color: #003466;
    text-align: center;
    font-size: 40px;
}

#classroom-add {
  font-size: 40px;
  color: #003466;
  border: 3px solid #003466;
  text-decoration: none;
  font-family: Print Clearly;
  padding-left: 15px;
  padding-right: 150px;
}

.center-items {
  margin: 0 auto;
}


#classroom-add::placeholder {
  color: #003466;
}

.submit-button {
  background-color: #003466;
  color: white;
  font-family: Print Clearly;
  text-decoration: none;
  border: none;
  font-size: 25px;
  padding: 10px;
  margin-left: 10px;
  padding-top: 10px;
}

.add-to-period {
  background-color: #E9F2FF;
}

.classroom-title {
  text-align: center;
  font-family: Nunito Bold;
  color: #003466;
  font-size: 70px;
  margin-bottom: 0;
}

.classroom-subtitle {
  text-align: center;
  font-family: Nunito;
  color: #003466;
  font-size: 25px;
  margin:0;
}

.classroom-body {
  border-top: 5px double #003466;
  background-color: #E9F2FF; 
}

.study-classroom-deck {
  background-color: #E9F2FF; 
  margin: 0 auto;
  font-family: Print Clearly Bold;
  color: #003466;
  margin-bottom: 10px;
  margin-top: 0;
}

.study-classroom-deck:hover {
  color: #A8B4C2;
}

@media screen and (max-width: 800px) {
  #dashboard-welcome {
    font-size: 10vw;
  }

  #username {
    font-size: 8vw;
  }

  .dashboard-menu {
    width: 30%;
  }

  .dash-nav {
    font-size: 4vw;
    padding-left: 15px;
  }

  .stuff-title {
    font-size: 9vw;
  }

  .modify-stuff {
    font-size: 3.5vw;
  }

  .deck-row {
    padding-left: 10px;
  }

  .your-stuff {
    font-size: 9vw;
    padding-left: 20px;
  }


}