.custom-ui {
  background-color: #003466;
  border: double 5px #FFFFFF;
  padding: 20px 40px 20px 40px;
}

.delete-deck-confirm {
  font-family: Print Clearly;
  color: #FFFFFF;
  font-size: 40px;
  text-align: center;
  margin-bottom: 5px;
}

#small-confirm {
  font-size: 25px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.no-button {
  font-family: Nunito Bold;
  color: #FFFFFF;
  background-color: #A8B4C2;
  font-size: 28px;
  padding: 7px 30px 7px 30px;
  margin: 0px 10px 0px 10px;
}

.yes-button {
  font-family: Nunito Bold;
  color: #003466;
  background-color: #E0E9F5;
  font-size: 28px;
  padding: 7px 28px 7px 28px;
  margin: 0px 10px 0px 10px;
}

#create-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-wrapper {
  flex: 1;
  text-align: center;
  background-color: #E9F2FF;
}

.create-buttons {
  width: 100%;
}

.create-type {
  background: #E9F2FF;
  font-family: Nunito Bold;
  color: #003466;
  font-size: 15px;
  padding-right: 21px;
  padding-left: 21px;
}

.create-type:active {
  color: #A8B4C2;
}

.add-card {
    padding-left: 40px;
}

.needs-padding {
  border-color: #003466;
  border-style: none none double none;
  border-width: 5px;
}

.deck-info {
  border-color: #003466;
  border-style: none none double none;
  border-width: 5px;
}

#deck-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#list-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cards-wrapper {
  flex: 1;
}

.flashcard {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  padding-left: 35px;  
}

.flashcard-text {
  width: 400px;
  border: 4px solid #C0CEDE;
  font-family: Print Clearly;
  font-size: 30px;
  resize: none;
  text-align: center;
  padding: 15px 10px 15px 10px;
}

.flashcard-text::placeholder {
  color: #A8B4C2;
}

.switch-front-and-back {
  width: 45px;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
}

.side-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-options {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: 10px;
  margin-top: 10px;
}

.add-more-card {
  background-color: #E9F2FF;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

#more-flashcard {
  background-color: #C0CEDE;
}

#more-flashcard:hover {
  background-color: #E0E9F5;
}

#finalize-deck {
  margin-bottom: 40px;
}

#finalize-list {
  margin-bottom: 40px;
}

.deck-title {
  padding: 0;
  font-family: Nunito;
  font-size: 60pt;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  caret-color: #C0CEDE;
  text-align: center;
  text-decoration: underline;
  padding-top: 20px;
  color: #003466;
}

.deck-title-view {
  font-family: Nunito;
  font-size: 50pt;
  border: none;
  display: inline-block;
  margin: 0 auto;
  caret-color: #C0CEDE;
  text-align: center;
  text-decoration: underline;
  padding-top: 20px;
  color: #003466;
}

.deck-title::placeholder {
   color: #C0CEDE; 
}

.edit-title {
  margin-top: -40px;
  margin-bottom: 0px;
}

.deck-title, select, textarea {
  color: #003466;
}

.small-caption {
  text-align: center;
  font-family: Nunito;
  color: #003466;
  font-size: 14px;
  margin: 0;
  padding-bottom: 10px;
}

.edit-card {
  margin-left: 5px;
  margin-right: 5px;
  background: #FFFFFF;
}

.back-to-deck {
  font-size: 28px;
  background: #FFFFFF;
  color: #003466;
  padding-left: 25px;
  padding-top: 15px;
  font-family: Print Clearly;
}

#back-to-deck:hover {
  color: #A8B4C2;
}

#add-a-card {
  text-align: center;
  font-family: Print Clearly;
  font-size: 35px;
  background: #E9F2FF;
  padding-top: 15px;
  color: #003466;
  width: 100%;
  margin: 0;
}

.add {
  background: #E9F2FF;
  color: #003466;
  margin-left: 10px;
}

.add:hover {
  color: #A8B4C2;
}

#study-deck {
  display: flex;
  justify-content: center;
  background: #E9F2FF;
  padding-top: 25px;
}

#study-list {
  display: flex;
  justify-content: center;
  background: #E9F2FF;
  padding-top: 25px;
}

.add-card {
  padding-bottom: 25px;
}

.low {
  font-size: 18px;
  color: #003466;
  margin-top: 5px;
}

.editable-card {
  color: #003466;
}

.editing {
  display: block;
}

.update-card {
  text-decoration: none;
  font-family: Print Clearly;
  font-size: 30px;
  border: none;
  resize: none;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#add-question {
  height: 75px;
  text-align: left;
  width: 700px;
  padding-left: 20px; 
}

.center-subtitle {
  justify-content: center;
}

#add-question::placeholder {
  text-align: left;
}

#add-question, select, textarea {
  color: #003466;
}

.change-title {
  padding: 0px 0px 10px 0px;
  background-color: #FFFFFF;
  color: #A8B4C2;
}

.change-title:hover {
  color: #003466;
}

.delete-deck {
  padding: 10px 50px 10px 50px;
  margin-bottom: 25px;
}

@media screen and (max-width: 850px) {
  .deck-title {
    font-size: 10vw;
  }

  .flashcard-text {
    border: 2px solid #C0CEDE;
    font-family: Print Clearly;
    font-size: 4vw;
    padding: 10px 5px 10px 5px;
    max-width: 133px;
  }

  .flashcard {
    padding-left: 15px;
  }

  .switch-front-and-back {
    max-width: 30px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
  }

  .side-options {
    max-width: 30px;
    height: auto;
    margin-left: 8px;
    margin-top: 5px;
  }

  .add-more-card {
    padding-top: 15px;
  }

  .back-to-deck {
    font-size: 4vw;
    padding-left: 15px;
    padding-top: 7px;
  }

  .edit-title {
    margin-top: -30px;
    margin-bottom: 3px;
  }

  .small-caption {
    font-size: 2.5vw;
  }

  #add-a-card {
    font-size: 5vw;
  }

  .add {
    font-size: 4.5vw;
    margin-left: 0px;
  }

  .low {
    font-size: 2vw;
    margin-top: 2px;
    margin-bottom: 4px;
  }

  .modify-stuff {
    font-size: 3vw;
  }

  #less-padding {
    padding-left: 0px;
  }

  .update-card {
    font-size: 4vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #add-question {
    max-width: 250px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 40px;
  }

}
