.button-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #E9F2FF;
}

.create-buttons {
  width: 100%;
}

.create-type {
  background: #E9F2FF;
  font-family: Nunito Bold;
  color: #003466;
  font-size: 15px;
  padding-right: 21px;
  padding-left: 21px;
}

.create-type:active {
  color: #A8B4C2;
}

.flashcard {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

#concept-card {
  height: 75px;
  text-align: left;
  width: 700px;
  padding-left: 20px;
}

#concept-card::placeholder {
  text-align: left;
}

.flashcard-text {
  width: 35%;
  border: 4px solid #C0CEDE;
  font-family: Print Clearly;
  font-size: 30px;
  resize: none;
  text-align: center;
  padding: 15px 10px 15px 10px;
}

.flashcard-text::placeholder {
  color: #A8B4C2;
}

.switch-front-and-back {
  width: 45px;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
}

.side-menu {
  display: flex;
  align-items: center;
}

.side-options {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: 10px;
  margin-top: 10px;
}

.add-more-card {
  background-color: #E9F2FF;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

#more-flashcard {
  background-color: #C0CEDE;
}

#more-flashcard:hover {
  background-color: #E0E9F5;
}

#more-concept {
  background-color: #C0CEDE;
}

#more-concept:hover {
  background-color: #E0E9F5;
}

#add-concept {
  padding-top: 0;
}

#finalize-deck {
  margin-bottom: 40px;
}

#finalize-list {
  margin-bottom: 40px;
}

.deck-title {
  font-family: Print Clearly;
  font-size: 60pt;
  width: 100%;
  border: none;
  display: block;
  margin: 0 auto;
  caret-color: #C0CEDE;
  text-align: center;
  text-decoration: underline;
  padding-top: 20px;
  color: #003466;
}

.deck-title::placeholder {
   color: #C0CEDE; 
}

.edit-title {
  margin-top: -50px;
  margin-bottom: 15px;
}

.deck-title, select, textarea {
  color: #003466;
}

#concept-title, select, textarea {
  color: #003466;
}

.small-caption {
  text-align: center;
  font-family: Nunito;
  color: #003466;
  font-size: 14px;
  margin: 0;
  padding-bottom: 5px;
}

.edit-card {
  margin-left: 5px;
  margin-right: 5px;
  background: #FFFFFF;
}

.back-to-deck {
  font-size: 28px;
  background: #FFFFFF;
  color: #003466;
  padding-left: 25px;
  padding-top: 15px;
  font-family: Print Clearly;
}

#back-to-deck:hover {
  color: #A8B4C2;
}

#add-a-card {
  text-align: center;
  font-family: Print Clearly;
  font-size: 35px;
  background: #E9F2FF;
  padding-top: 15px;
  color: #003466;
  width: 100%;
  margin: 0;
}

#add-a-concept {
  text-align: center;
  font-family: Print Clearly;
  font-size: 35px;
  background: #E9F2FF;
  padding-top: 15px;
  color: #003466;
  width: 100%;
  margin: 0;
}

.add {
  background: #E9F2FF;
  color: #003466;
  margin-left: 10px;
}

.add:hover {
  color: #A8B4C2;
}

#study-deck {
  display: flex;
  justify-content: center;
  background: #E9F2FF;
  padding-top: 25px;
}

#study-list {
  display: flex;
  justify-content: center;
  background: #E9F2FF;
  padding-top: 25px;
}

.add-card {
  padding-bottom: 25px;
}

.low {
  font-size: 18px;
  color: #003466;
  margin-top: 5px;
}

.editable-card {
  color: #003466;
  padding-top: 20px;
}

.edit-button {
  padding: 0;
  margin-top: 109px;
  margin-left: 10px;
}

.delete-button {
  margin-left: 10px;

}

.edit-options {
  margin-top: 95px;
  padding-left: 10px;
}

.editing {
  display: block;
}

#line {
  margin-top: 107px;
}

.update-card {
  text-decoration: none;
  font-family: Print Clearly;
  font-size: 30px;
  border: none;
  resize: none;
  text-align: center;
  padding-top: 10px;
  width: 90%;
  height: 60%;
}

#add-question {
  height: 75px;
  text-align: left;
  width: 700px;
  padding-left: 20px; 
}

#add-question::placeholder {
  text-align: left;
}

#add-question, select, textarea {
  color: #003466;
}
