.footer {
  background-color: #003466;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.footer-link {
  font-family: Nunito Bold;
  font-size: 25px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 17px;
  padding-right: 17px;
}

#footer-search {
  padding-right: 24px;
}

@media screen and (max-width: 850px) {
  .footer-link {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 600px) {
  .footer-link {
      font-size: 3vw;
    }
}