.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003466;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.flex-header {
  display: flex;}

#header-logo {
  width: 200px;
  max-width: 100%;
  height: auto;
}

#searchbar {
  font-family: 'Print Clearly';
  font-size: 40px;
  width: 200px;
  border: none;
  background-color: #003466;
  caret-color: white;
  color: white;
  padding-top: 10px;
}

#searchbar::placeholder {
  color: white;
}

#navbar-usercard {
  text-align: center;
  padding-right: 10px;
}

#navbar-usercard p {
  margin: 2px;
}

#navbar-usercard button {
  padding: 5px;
  font-size: 22px;
}

#navbar-usercard img {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  object-fit: cover;
}


.nav-signin {
  font-family: Nunito Bold;
  color: #FFFFFF;
  font-size: 10px;
  background: #033466;
}

#header-login {
  color: #FFFFFF;
  margin-right: 30px;
}


@media screen and (max-width: 800px) {
  #navbar-usercard img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  #navbar-usercard button {
    font-size: 1.5vw;
  }

  #searchbar {
    font-size: 4.5vw;
    max-width: 100%;
  }
}