.account-block {
  text-align: center;
  background-image: url(../resources/triangle.png);
  background-position: center;
  background-size: cover;
}

#slogan {
  font-size: 100px;
  color: #C0CEDE;
  padding-top: 20px;
}

#you {
  font-size: 70px;
}

.header-title {
  color: #A8B4C2;
  font-size: 67px;
}

.emphasized-words {
  font-family: Nunito;
  color: #003466;
  font-size: 50px;
}

.primary-button {
  background-color: #003466;
  color: #E0E9F5;
  padding-right: 45px;
  padding-left: 45px;
}

.primary-button:hover {
  background-color: #002140;
}

.secondary-button {
  background-color: #E0E9F5;
  color: #003466;
  padding-right:29px;
  padding-left: 29px;
}

.secondary-button:hover {
  background-color: #E8EEF8;
}

#log-in-subheader {
  font-size: 22px;
  color: #003466;
}

.log-in {
  font-family: Nunito Bold;
  font-size: 17px;
  cursor: pointer;
  padding-bottom: 25px;
  background: none;
  border: none;
  padding-left: 0;
  color: #003466; 
}

.home-info {
  display: flex;
  justify-content: center;
  background-color: #E9F2FF;
  padding-bottom: 20px;
  padding-top: 20px;
}

.answer-text {
  font-size: 27px;
  color: #003466;
  width: 50%;
  text-align: justify;
}

#answer-text-right {
  padding-left: 50px;
  padding-right: 5px;
}

#answer-text-left {
  padding-right: 50px;
  padding-left: 5px;
}

#info2 {
  padding-top: 0px;
}

#our-techniques {
  color: #C0CEDE;
  font-size: 85px;
  margin-top: 27px;
  margin-bottom: 0;
}

.slideshow-carousel {
  width: 85%;
  height: 85%;
  margin: 0 auto;
}

.cogsci-techniques {
  text-align: center;
}


.learn-button { 
  padding-bottom: 40px;
  text-align: center;
}

#start-learning {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 80px;
  padding-right: 80px;
}

.denied {
  font-family: Nunito;
  font-size: 35px;
  color: #003466;
  text-align: center;
}

.go-to-home {
  margin-bottom: 20px;
}

.no-access {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(../resources/triangle.png);
  background-position: center;
  background-size: cover;
}

.error {
  display: flex;
}

.uhoh {
  width: 370px;
  height: 425px;
  padding-left: 100px;
}

#error-page {
  padding-top: 30px;
  padding-bottom: 75px;
}

#whoops {
  padding-top: 150px;
}

.faq-question {
  font-family: Print Clearly;
  font-size: 40px;
  padding-left: 60px;
  color: #003466;
}

.faq-answer {
  font-family: Nunito Bold;
  font-size: 20px;
  padding-left: 60px;
  padding-right: 60px;
  color: #A8B4C2;
}

.faq-pic-link img {
  width: 30px;
  height: 30px;
  padding-right: 3px;
  padding-left: 3px;
  color: #003466;
}

@media screen and (max-width: 800px) {
  #slogan {
    font-size: 17vw;
  }

  #you {
    font-size: 11vw;
  }

  .header-title {
    font-size: 6.5vw;
  }

  .emphasized-words {
    font-size: 4.5vw;
    padding-right: 10px;
  }

  .answer-text {
    font-size: 4vw;
  }

  #answer-text-left {
    padding-right: 30px;
    padding-left: 10px;
  }

  #our-techniques {
    font-size: 17vw;
  }

  .slideshow-carousel {
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #start-learning {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .primary-button {
    font-size: 7vw;
  }

  .secondary-button {
    font-size: 7vw;
  }

}
