.account-block {
  text-align: center;
  background-image: url(../resources/triangle.png);
  background-position: center top;
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;

  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#slogan {
  margin: 0;
  font-size: 70px;
  color: #afc1d5;
  padding-top: 20px;
  font-family: Nunito;
}

.emphasized-words {
  color: #003466;
}

#home-info-wrapper {
  background-color: #E9F2FF;
}

.home-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.header-title {
  color: #A8B4C2;
  font-family: Nunito;
  font-size: 40px;
  width: 40%;
  text-align: center;
}

.answer-text-wrapper {
  width: 60%;
  padding-left: 30px;
  padding-right: 30px;
}

.answer-text {
  color: #003466;
  font-size: 27px;
  text-align: justify;
}

.learn-button-wrapper { 
  padding-bottom: 40px;
  text-align: center;
}

#start-learning {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
}

.denied {
  font-family: Nunito;
  font-size: 35px;
  color: #003466;
  text-align: center;
}

.go-to-home {
  margin-bottom: 20px;
}

.no-access {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(../resources/triangle.png);
  background-position: center;
  background-size: cover;
}

.error {
  display: flex;
}

.uhoh {
  width: 370px;
  height: 425px;
  padding-left: 100px;
}

#error-page {
  padding-top: 30px;
  padding-bottom: 75px;
}

#whoops {
  padding-top: 150px;
}

.faq-question {
  font-family: Print Clearly;
  font-size: 40px;
  padding-left: 60px;
  color: #003466;
}

.faq-answer {
  font-family: Nunito Bold;
  font-size: 20px;
  padding-left: 60px;
  padding-right: 60px;
  color: #A8B4C2;
}

.faq-pic-link img {
  width: 30px;
  height: 30px;
  padding-right: 3px;
  padding-left: 3px;
  color: #003466;
}

.privacypolicy {
  all: initial;
}

@media screen and (max-width: 800px) {
  .home-info {
    display: block;
  }

  .header-title {
    width: auto;
  }

  .answer-text-wrapper {
    width: auto;
  }
}
