.hover-text-button:hover {
	color: #C6CED7;
	cursor: pointer;
}

.profile {
	height: 100%;
	/*padding-top: 10px;*/
}

.profile h1.username {
	margin:0;
}

#profile-inner-wrapper {
	height: 100%;

	display: flex;
	flex-direction: column;
}

#profile-name-stuff {
	padding-top: 10px;
	padding-bottom: 10px;
}

.username {
	text-align: center;
	font-family: Print Clearly;
	color: #003466;
	font-size: 70px;
	margin-bottom: 0px;
	margin-top: 30px;
}

.email {
	text-align: center;
	font-family: Nunito;
	color: #A8B4C2;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 18px;
}

.profile-img {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	object-fit: cover;
	border: 1px solid black;
}

.profile-pic {
	background: #E9F2FF;
	flex: 1;
}

#change-pic {
	font-size: 30px;
	color: #003466;
	text-align: center;
	padding-left: 25px;	
}

.upload-photo {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 15px;
}

#upload-button {
	font-size: 25px;
	padding: 10px;
}

.dashboard-link {
	display: flex;
	justify-content: center;
}

.dashboard-button {
	background: #E9F2FF;
	font-family: Nunito;
	color: #003466;
}

.dashboard-button:hover {
	color: #A8B4C2;
}

.profile-padding {
	padding-top: 20px;
}

.profile-decklist {
	text-align: center;
	font-family: Print Clearly;
	font-size: 35px;
	color: #A8B4C2;
}

.profile-decklist:hover {
	color: #003466;
}