#big-search {
  font-size: 60px;
  color: #003466;
  text-decoration: none;
  border: none;
  font-family: Print Clearly;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 350px;
  display: flex;
}

#big-search::placeholder {
  color: #003466;
}

.filter-button {
  margin-top: 30px;
  background-color: #E0E9F5;
  color: #003466;
  border-radius: 0;
  font-size: 24px;
  padding-right: 8px;
  padding-left: 8px;  
}

.filter-button:hover {
  background-color: #C0CEDE;
}

.push-over {
  padding-left: 300px;
}

.no-results{
  padding-left: 30px;
  font-size: 30px;
}

.result-box {
  border-bottom: 5px solid #C0CEDE;
  font-family: Print Clearly;
  font-size: 28px;
  color: #003466;
  padding-left: 25px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.deck-text {
  margin: 4px;
}

#deck-name {
  font-family: Nunito Bold;
}

.user-search-result {
  margin: 50px;  
}

.flex {
  display: flex;
}

.user-search-result img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
}

.search-username {
  font-size: 21px;
  color: #003466;
  padding-left: 10px;
  padding-top: -10px;
}



