.study-card {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.front-text{
  color: #003466;
  padding-top: 45px;
}

#flip-card {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.center-button {
  display: flex;
  justify-content: center;
}

.accuracy-button {
  margin-bottom: 10px;
  font-size: 30px;
  width: 350px;
  margin-right: 3px;
  margin-left: 3px;
}

.rating-prompt {
  font-family: Nunito;
  font-size: 17px;
  color: #003466;
  text-align: center;
}

#rating-question {
  font-size:20px;
  font-family: Nunito Bold;
}

.rating-buttons {
  display: flex;
  justify-content: center;
}

.maroon {
  background-color: #6F102F;
  color: #FFFFFF;
}

.maroon:hover {
  background-color: #530C23;
}

.red {
  background-color: #C8412B;
  color: #FFFFFF;
}

.red:hover {
  background-color: #963120;
}

.orange {
  background-color: #E37F2F;
  color: #FFFFFF; 
}

.orange:hover {
  background-color: #AA5F23;
}

.yellow {
  background-color: #E3A02F;
  color: #FFFFFF;
}

.yellow:hover {
  background-color: #AA7823;
}

.lime {
  background-color: #E3DD2F;
  color: #FFFFFF;
}

.lime:hover {
  background-color: #AAA623;
}

.green {
  background-color: #50BE5C;
  color: #FFFFFF;
}

.green:hover {
  background-color: #3C8F45;
}

.youre-finished {
  font-size: 26px;
  text-align: center;
}

.study-warning {
  text-align: center;
  font-size: 21px;
}

.question-answer {
  text-align: center;
  font-family: Nunito Bold;
  font-size: 28px;
  color: #A8B4C2;
}

.content-info {
  display: block;
  text-align: center;
  font-family: Print Clearly;
  font-size: 35px;
  color: #003466;
}

.self-exp-box {
  border: 5px solid #A8B4C2;
  padding-left: 15px;
  padding-top: 10px;
  resize: none;
}

.arrows {
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  padding-top: 225px;
  padding-left: 20px;
  padding-right: 20px
}

.disp-inline {
  display: flex;
}

.number-scale {
  width:70px;
  margin-bottom: 15px;
}

@media screen and (max-width: 850px) {
  .front-text {
    padding-top: 0px;
  }

  #rating-question {
    font-size: 4vw;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 8px;
  }

  .rating-prompt {
    font-size: 3vw;
  }

  .self-exp-box {
    border: 2px solid #A8B4C2;
    max-width: 300px;
    padding-left: 15px;
    padding-top: 10px;
    resize: none;
  }

  .question-answer {
    margin: 5px 0px 5px 0px;
  }
}