.classroom-name {
	text-align: center;
	font-family: Print Clearly;
	color: #003466;
	font-size: 50px;
	margin: 0;
	padding: 25px 0px 5px 0px;
}

#teacher-welcome {
  text-align: center; 
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0;
}

.classroom-name:hover {
	color: #FFFFFF;
}

.class-periods {
	font-family: Nunito Bold;
	text-align: center;
	color: #939EAA;
	font-size: 17px;
	margin: 0;
}

.period-emphasis {
	font-family: Nunito;
}

.blue-background {
	background-color: #E0E9F5;
	padding-bottom: 20px;
}

.create-class {
	text-decoration: none;
	border: 3px solid #A8B4C2;
	background-color: #FFFFFF;
	font-family: Print Clearly;
	font-size: 30px;
	color: #003466;
  width: 350px;
	padding: 10px 15px 10px 10px;
	margin: 15px 0px 15px 0px;
}

.create-class::placeholder {
	color: #003466;
}

#create-classroom {
	font-size: 25px;
	margin-top: -15px;
}

.tagsClass{
	font-size: 18px;
	color: #FFFFFF;
	font-family: Nunito Bold;
}

.tagClass {
	background-color: #003466;
	border: 2px solid #FFFFFF;
	padding: 5px;
	margin-right: 5px;
}

.removeClass {
	font-size: 18px;
	padding-left: 5px;
}

.top-border {
  border-style: double none none none;
  border-color: #003466;
  border-width: 5px;
}

.needs-border {
  border-style: double none double none;
  border-color: #003466;
  border-width: 5px;
}

.studied-header {
  text-align: center;
  color: #A8B4C2;
  font-family: Nunito Bold;
  font-size: 35px;
  padding: 30px 30px 15px 30px;
  margin: 0;
  background-color: #FFFFFF;
}

.percent-emph {
  color: #003466;
}

.classroom-basic {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #FFFFFF;
  width: 100%;
}

.class-stat-title {
  font-family: Print Clearly;
  font-size: 25px;
  color: #003466;
  margin-bottom: 5px;
}

.class-stats {
  font-family: Nunito Bold;
  font-size: 65px;
  color: #003466;
  margin-top: 0;
  margin-bottom: 5px;
}

.low-card {
  font-family: Print Clearly;
  padding-left: 30px;
  color: #003466;
}

.card-info {
  align-items: center;
  padding-bottom: 5px;
}

.low-card-header {
  font-size: 50px;
  margin: 0px 0px 17px 0px;
  padding: 25px 0px 0px 0px;
  border-style: none none solid none;
  border-color: #003466;
  border-width: 3px;
}

.score {
  font-family: Nunito Bold;
  color: #A8B4C2;
  font-size: 60px;
  padding-right: 10px;
  margin: 0;
}

.question {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.italics {
  font-style: italic;
}

.deck-from {
  margin: 0;
}

#profile-thumbnail {
	height: 135px;
	width: 135px;
	margin-bottom: 5px;
}

.profile-display {
	justify-content: center;
	text-align: center;
	margin: 15px 10px 5px 15px;
}

.student-name {
  font-family: Print Clearly;
  font-size: 20px;
  color: #003466;
  margin-top: 0;
}

.student-stats {
  font-family: Nunito;
  color: #003466;
  font-size: 12px;
  margin-top: 45px;
  padding-right: 15px;
}

.stat {
  margin-top: 5px;
  margin-bottom: 5px;
}

.center-items {
	align-items: center;
}

.center-items:hover {
	background-color: #A8B4C2;
}

.flex-display {
	display: flex;
	flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.student-pic-individual {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 50px;
  border: 2px solid black;
}

.student-header-individual {
  padding-bottom: 15px;
}

.emphasized-words-individual {
  margin: 10px 0px 10px 0px;
}

.period-subtitle {
  font-size: 28px;
  margin: 0;
}

#student-stats-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.student-stats-individual {
  font-size: 24px;
  margin-left: 15px;
  margin-right: 15px;
}

.student-graph-individual {
  height: 200px;
  width: auto;
  border: 3px solid #A8B4C2;
}

.view-filter-button {
  background-color:  #003466;
  color: #FFFFFF;
  font-size: 20px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 7px;
}

.view-filter-button:hover {
  background-color: #A8B4C2;
}

.filter-prompt {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.add-padding {
  padding-top: 15px;
  padding-bottom: 10px;
}

.flex {
  display: flex;
}

.time-entry {
  height: 25px;
  margin-top: 22px;
  border: 2px solid #A8B4C2;
  padding-left: 5px;
  font-family: Print Clearly;
  font-size: 25px;
  color:#003466;
}

.submit-time {
  height: 30px;
  border: none;
  text-decoration: none;
  margin-top: 23px;
  background-color: #003466;
  font-family: Print Clearly;
  color: #FFFFFF;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 4px;
}

.submit-time:hover {
  cursor: pointer;
  background-color: #A8B4C2;
}

.teacher-view-deck-title {
  font-family: Nunito Bold;
  color: #003466;
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.teacher-view-deck-title:hover {
  color: #A8B4C2;
}

.teacher-view-deck-detail {
  text-align: center;
  font-family: Print Clearly;
  font-size: 25px;
  color: #003466;
  margin:0;
}

.edit-deck-button {
  border: none;
  text-decoration: none;
  margin-top: 23px;
  background-color: #003466;
  font-family: Print Clearly;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 5px;
  padding: 3px;
  margin: 0 auto;
  padding-right: 3px;
  padding-left: 3px;
}

.edit-deck-button:hover {
  background-color: #A8B4C2;
}

.deck-info-view {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.check-period {
  font-size: 27px;
  color: #003466;
  font-family: Nunito Bold;
  margin-top: 0;
  padding-left: 45px;
  margin-bottom: 5px;
}

.period-num {
  margin-bottom: 25px;
}

.period-filter-bar {
  display: flex;
}

.small-height {
  margin-top: 20px;
  height: 35px;
}

.student-name {
  font-family: Nunito Bold;
  font-size: 25px;
  color: #003466;
  text-align: center;
  margin-bottom: 5px;
}

.student-name:hover {
  color: #A8B4C2;
}

.student-period {
  font-family: Print Clearly;
  font-size: 22px;
  color: #A8B4C2;
  text-align: center;
  padding-left: 5px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.no-hover:hover {
  background-color: #E9F2FF;
}