
/* Fonts */
@font-face {
  font-family: Print Clearly;
  src: url('/src/resources/fonts/PrintClearly.TTF');
}
@font-face {
  font-family: Nunito;
  src: url('/src/resources/fonts/Nunito.ttf');
}

@font-face {
  font-family: Nunito Bold;
  src: url('/src/resources/fonts/Nunito-Bold.ttf');
}
/* End fonts */

/* General Things */
a {
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0px;
  font-family: Print Clearly;
}

button {
  font-family: Print Clearly;
  border: none;
  text-decoration: none;
  font-size: 38px;
  padding-top: 12px;
  padding-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}

hr {
  margin: 0;
}
/* End general things */

/* Navbar header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003466;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.flex-header {
  display: flex;}

#header-logo {
  width: 200px;
  height: auto;
}

#searchbar {
  font-family: 'Print Clearly';
  font-size: 30pt;
  width: 200px;
  border: none;
  background-color: #003466;
  caret-color: white;
  color: white;
  padding-top: 13px;
}

#searchbar::placeholder {
  color: white;
}

#navbar-usercard {
  text-align: center;
}

#navbar-usercard p {
  margin: 2px;
}

#navbar-usercard button {
  padding: 5px;
  font-size: 16px;
}

#navbar-usercard img {
  border-radius: 50%;
  height: 75px;
  width: auto;
}
/* End navbar header */

/* Homepage stuff */
.account-block {
  text-align: center;
  background-image: url('./resources/triangle.png');
  background-position: center;
  background-size: cover;
}

#slogan {
  font-size: 100px;
  color: #C0CEDE;
  padding-top: 20px;
}

#you {
  font-size: 70px;
}

.header-title {
  color: #A8B4C2;
  font-size: 67px;
}

.emphasized-words {
  font-family: Nunito;
  color: #003466;
  font-size: 48px;
}

.primary-button {
  background-color: #003466;
  color: #E0E9F5;
  padding-right: 45px;
  padding-left: 45px;
}

.primary-button:hover {
  background-color: #002140;
}

.secondary-button {
  background-color: #E0E9F5;
  color: #003466;
  padding-right:29px;
  padding-left: 29px;
}

.secondary-button:hover {
  background-color: #E8EEF8;
}

#log-in-subheader {
  font-size: 22px;
  color: #003466;
}

#log-in {
  font-family: Nunito Bold;
  font-size: 17px;
  cursor: pointer;
  padding-bottom: 25px;
  background: none;
  border: none;
  padding-left: 0;
  color: #003466;
}

#log-in-header {
  margin-top: 30px;
  margin-bottom: 20px;
}

#email-login, #password-login {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-left: 5px; 
}

.login-text::placeholder {
  color: #C0CEDE;
}

.login-text, select, textarea {
  color: #A8B4C2;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#log-in:visited {
  color: #003466;
}

.home-info {
  display: flex;
  justify-content: center;
  background-color: #E9F2FF;
  padding-bottom: 20px;
  padding-top: 20px;
}

.answer-text {
  font-size: 28px;
  color: #003466;
  width: 50%;
  text-align: justify;
}

#answer-text-right {
  padding-left: 50px;
}

#answer-text-left {
  padding-right: 50px;
}

#info2 {
  padding-top: 0px;
}

#our-techniques {
  color: #C0CEDE;
  font-size: 85px;
  margin: 27px;
}

.cogsci-techniques {
  text-align: center;
}


.learn-button { 
  padding-top: 515px;
  padding-bottom: 40px;
  text-align: center;
}

#start-learning {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 80px;
  padding-right: 80px;
}
/* End homepage stuff */

/* Search stuff */
#big-search {
  font-size: 60px;
  color: #003466;
  text-decoration: none;
  border: none;
  font-family: Print Clearly;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 350px;
}

#big-search::placeholder {
  color: #003466;
}

.filter-button {
  background-color: #E0E9F5;
  color: #003466;
  border-radius: 0;
  font-size: 24px;
  padding-right: 8px;
  padding-left: 8px;  
}

.result-box {
  border-bottom: 5px solid #C0CEDE;
  font-family: Print Clearly;
  font-size: 28px;
  color: #003466;
  padding-left: 25px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.deck-text {
  margin: 4px;
}

#deck-name {
  font-family: Nunito Bold;
}

.user-search-result {
  margin: 50px;
}

.user-search-result img {
  height: 100px;
  border-radius: 50%;
}
/* End search stuff */

.faq p {
  width: 500px;
  margin: 0 auto;
}

.profile-img {
  height: 200px;
  border-radius: 50%;
}

.deck-row {
  margin: 30px;
}

.card {
  display: flex;
  justify-content: space-around;
  border: 1px rgb(140,140,140) solid;

  margin: 5px;
}

.card-wrapper {
  margin: 10px;
}

.card div {
  width: 100%;
}

.card p {
  margin: 16px;
}

.card input {
  margin: 16px;
}

.card-front {
  background-color: #d8e4f1;
}

.low {
  font-size: 12px;
  color: rgb(170,170,170);
}


.deck-mini-view {
  margin: 10px;
}

/* Footer */
.footer {
  background-color: #C0CEDE;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #003466;
  display: flex;
  justify-content: center;
}

.footer-link {
  font-family: Nunito Bold;
  font-size: 25px;
  text-align: center;
  color: #003466;
  padding-left: 17px;
  padding-right: 17px;
}

#footer-search {
  padding-right: 24px;
}

.footer-social img {
  width: 30px;
  height: 30px;
  padding-right: 3px;
  padding-left: 3px;
}
/*End footer*/

/* 404 */
.page-404 img {
  height: 200px;
}
/* End 404 */